.cursor-typing {
  color: red;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.wrapper-typing {
  color: white;
  font-size: 80px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}